@model IEnumerable<Locadora.Models.Filme>

@{
    ViewData["Title"] = "Filmes do acervo";
}

<h2>Filmes</h2>

<p align="center">
    <a class="btn btn-primary" asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.DataEstreia)*@
                Data de Estreia
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NumPremios)*@
                Pr&ecirc;mios
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TwoLetterISOLanguageName)*@
                Idioma (Sigla)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model._genero)*@
                G&ecirc;nero
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataEstreia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPremios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoLetterISOLanguageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._genero)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
