@model Locadora.Models.Ator

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Voc&ecirc; tem certeza de que deseja apagar o ator?</h3>
<div>
    <h4>Ator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.DataPrimeiroFilme)*@
            Primeiro filme
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataPrimeiroFilme)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.DataUltimoFilme)*@
            &Uacute;ltimo filme
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataUltimoFilme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.NumPremios)*@
            Pr&ecirc;mios
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumPremios)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            <a asp-action="Index">Voltar para lista</a>
        </div>
    </form>
</div>
