@model Locadora.Models.Cliente

@{
    ViewData["Title"] = "Apagar cliente";
}

<h2>Apagar cliente</h2>

<h3>Voc&ecirc; tem certeza de que deseja apagar o cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt>
            <!-- @Html.DisplayNameFor(model => model.DataAdesao) -->
            Data de Ades&atilde;o
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAdesao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            <!-- @Html.DisplayNameFor(model => model._statusCliente) -->
            Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model._statusCliente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            <a asp-action="Index">Voltar para lista</a>
        </div>
    </form>
</div>
