@model IEnumerable<Locadora.Models.Cliente>

@{
    ViewData["Title"] = "Clientes Cadastrados";
}

<h2>Clientes</h2>

<p align="center">
    <a class="btn btn-primary" asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                <!-- @Html.DisplayNameFor(model => model.DataAdesao) -->
                Data de Ades&atilde;o
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model._statusCliente) -->
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdesao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._statusCliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <!-- <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> | -->
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
